@model Systematics.Task.Web.Models.Project

@{
    ViewData["Title"] = "Create Project";
}

<div class="modal fade" id="addProject">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addProjectLabel">Add Project</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create" asp-controller="Projects">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Date" class="control-label"></label>
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Progress" class="control-label"></label>
                                <input asp-for="Progress" class="form-control" />
                                <span asp-validation-for="Progress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="StatusId" class="control-label"></label>
                                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-success" data-save="modal">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
